#form{
    border: solid 1px;
    width: 50%;
    padding: 20px;
    margin: o auto;

}
.input{
    padding: 10px 15px;
    width: 80%;
    border-radius: 5px;
    border: solid 1px;
}
button{
    padding: 6px 12px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: black;
    width: 80%;
}
